In [1]:
#initializing pyspark
import findspark
findspark.init()
findspark.find()
import pyspark
findspark.find()

'/Users/kpathak/opt/anaconda3/envs/mamlTesting/lib/python3.8/site-packages/pyspark'

In [2]:
#https://naomi-fridman.medium.com/install-pyspark-to-run-on-jupyter-notebook-on-windows-4ec2009de21f
#https://github.com/spark-examples/pyspark-examples/
#https://www.datacamp.com/tutorial/pyspark-tutorial-getting-started-with-pyspark
#https://www.guru99.com/pyspark-tutorial.html
#https://sparkbyexamples.com/pyspark/install-pyspark-in-anaconda-jupyter-notebook/
#follow conda install for pyspark and findaprk

In [3]:
from pyspark.sql import SparkSession
sc =  SparkSession.builder \
    .master("local[1]") \
    .appName("SparkByExamples.com") \
    .getOrCreate()
spark= sc
print(spark)

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/Users/kpathak/opt/anaconda3/envs/mamlTesting/lib/python3.8/site-packages/pyspark/jars/spark-unsafe_2.12-3.1.2.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
22/10/30 19:09:15 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/10/30 19:09:16 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/10/30 19:09:16 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
22/10/30 19:09:16 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
22/10/30 19:09:16 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.

<pyspark.sql.session.SparkSession object at 0x7fd8418e97f0>

In [4]:
spark

In [5]:
#Groupby
from pyspark.sql.functions import approx_count_distinct,collect_list
from pyspark.sql.functions import collect_set,sum,avg,max,countDistinct,count
from pyspark.sql.functions import first, last, kurtosis, min, mean, skewness 
from pyspark.sql.functions import stddev, stddev_samp, stddev_pop, sumDistinct
from pyspark.sql.functions import variance,var_samp,  var_pop
simpleData = [("James", "Sales", 3000),
    ("Michael", "Sales", 4600),
    ("Robert", "Sales", 4100),
    ("Maria", "Finance", 3000),
    ("James", "Sales", 3000),
    ("Scott", "Finance", 3300),
    ("Jen", "Finance", 3900),
    ("Jeff", "Marketing", 3000),
    ("Kumar", "Marketing", 2000),
    ("Saif", "Sales", 4100)
  ]
schema = ["employee_name", "department", "salary"]
  
  
df = spark.createDataFrame(data=simpleData, schema = schema)
df.printSchema()
df.show(truncate=False)

print("approx_count_distinct: " + \
      str(df.select(approx_count_distinct("salary")).collect()[0][0]))

print("avg: " + str(df.select(avg("salary")).collect()[0][0]))

df.select(collect_list("salary")).show(truncate=False)

df.select(collect_set("salary")).show(truncate=False)

df2 = df.select(countDistinct("department", "salary"))
df2.show(truncate=False)
print("Distinct Count of Department &amp; Salary: "+str(df2.collect()[0][0]))

print("count: "+str(df.select(count("salary")).collect()[0]))
df.select(first("salary")).show(truncate=False)
df.select(last("salary")).show(truncate=False)
df.select(kurtosis("salary")).show(truncate=False)
df.select(max("salary")).show(truncate=False)
df.select(min("salary")).show(truncate=False)
df.select(mean("salary")).show(truncate=False)
df.select(skewness("salary")).show(truncate=False)
df.select(stddev("salary"), stddev_samp("salary"), \
    stddev_pop("salary")).show(truncate=False)
df.select(sum("salary")).show(truncate=False)
df.select(sumDistinct("salary")).show(truncate=False)
df.select(variance("salary"),var_samp("salary"),var_pop("salary")) \
  .show(truncate=False)

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- salary: long (nullable = true)

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|James        |Sales     |3000  |
|Michael      |Sales     |4600  |
|Robert       |Sales     |4100  |
|Maria        |Finance   |3000  |
|James        |Sales     |3000  |
|Scott        |Finance   |3300  |
|Jen          |Finance   |3900  |
|Jeff         |Marketing |3000  |
|Kumar        |Marketing |2000  |
|Saif         |Sales     |4100  |
+-------------+----------+------+

22/10/30 19:10:26 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

approx_count_distinct: 6
avg: 3400.0
+------------------------------------------------------------+
|collect_list(salary)                                        |
+------------------------------------------------------------+
|[3000, 4600, 4100, 3000, 3000, 3300, 3900, 3000, 2000, 4100]|
+------------------------------------------------------------+

+------------------------------------+
|collect_set(salary)                 |
+------------------------------------+
|[4600, 3000, 3900, 4100, 3300, 2000]|
+------------------------------------+

+----------------------------------+
|count(DISTINCT department, salary)|
+----------------------------------+
|8                                 |
+----------------------------------+

Distinct Count of Department &amp; Salary: 8
count: Row(count(salary)=10)
+-------------+
|first(salary)|
+-------------+
|3000         |
+-------------+

+------------+
|last(salary)|
+------------+
|4100        |
+------------+

+-------------------+
|kurtosis(salary)   |
+-------------------+
|-0.6467803030303032|
+-------------------+

+-----------+
|max(salary)|
+-----------+
|4600       |
+-----------+

+-----------+
|min(salary)|
+-----------+
|2000       |
+-----------+

+-----------+
|avg(salary)|
+-----------+
|3400.0     |
+-----------+

+--------------------+
|skewness(salary)    |
+--------------------+
|-0.12041791181069571|
+--------------------+

+-------------------+-------------------+------------------+
|stddev_samp(salary)|stddev_samp(salary)|stddev_pop(salary)|
+-------------------+-------------------+------------------+
|765.9416862050705  |765.9416862050705  |726.636084983398  |
+-------------------+-------------------+------------------+

+-----------+
|sum(salary)|
+-----------+
|34000      |
+-----------+

+--------------------+
|sum(DISTINCT salary)|
+--------------------+
|20900               |
+--------------------+

+-----------------+-----------------+---------------+
|var_samp(salary) |var_samp(salary) |var_pop(salary)|
+-----------------+-----------------+---------------+
|586666.6666666666|586666.6666666666|528000.0       |
+-----------------+-----------------+---------------+

In [7]:
#read data # mysql
#employee info table
E1 = spark.read.option("header",True).csv('/Users/kpathak/Library/CloudStorage/OneDrive-ManhattanAssociates/kpathak/ESSAY_COMP/Employee_info_table.csv')
E1.show()

+-----+--------+--------+----------+-------+--------------+--------+------+
|EmpID|EmpFname|EmpLname|Department|Project|       Address|     DOB|Gender|
+-----+--------+--------+----------+-------+--------------+--------+------+
|    1|  Sanjay|   Mehra|        HR|     P1|Hyderabad(HYD)|01/12/76|     M|
|    2|  Ananya|  Mishra|     Admin|     P2|    Delhi(DEL)|02/05/68|     F|
|    3|   Rohan|   Diwan|   Account|     P3|   Mumbai(BOM)|01/01/80|     M|
|    4|   Sonia|Kulkarni|        HR|     P1|Hyderabad(HYD)|02/05/92|     F|
|    5|   Ankit|  Kapoor|     Admin|     P2|    Delhi(DEL)|03/07/94|     M|
+-----+--------+--------+----------+-------+--------------+--------+------+

In [9]:
#Employee position table
#employee info table
E2 = spark.read.option("header",True).csv('/Users/kpathak/Library/CloudStorage/OneDrive-ManhattanAssociates/kpathak/ESSAY_COMP/Employee_Position.csv')
E2.show()

+-----+-----------+-------------+------+
|EmpID|EmpPosition|DateOfJoining|Salary|
+-----+-----------+-------------+------+
|    1|    Manager|     01/05/22|500000|
|    2|  Executive|     02/05/22| 75000|
|    3|    Manager|     01/05/22| 90000|
|    2|       Lead|     02/05/22| 85000|
|    1|  Executive|     01/05/22|300000|
+-----+-----------+-------------+------+

In [42]:
#creating temporary view for the tables
E1.createTempView("e1")

AnalysisException: Temporary view 'e1' already exists

In [15]:
#Q1. Write a query to fetch the EmpFname from the EmployeeInfo table in upper case and use the ALIAS name as EmpName.
spark.sql("select UPPER(EmpFname) as EmpFname_U from E1").show()

+----------+
|EmpFname_U|
+----------+
|    SANJAY|
|    ANANYA|
|     ROHAN|
|     SONIA|
|     ANKIT|
+----------+

In [43]:
E2.createTempView("e2")

In [32]:
#Q2. Write a query to fetch the number of employees working in the department ‘HR’.
spark.sql("select count(*) from E1 where E1.Department='HR'").show()

+--------+
|count(1)|
+--------+
|       2|
+--------+

In [33]:
#Q3. Write a query to get the current date.
# spark.sql("select SYSTDATE()")
spark.sql("select current_date()").show()

+--------------+
|current_date()|
+--------------+
|    2022-10-30|
+--------------+

In [34]:
# Q4. Write a query to retrieve the first four characters of  EmpLname from the EmployeeInfo table.
spark.sql("select substr(EmpLname,1,4) from E1").show()

+----------------------+
|substr(EmpLname, 1, 4)|
+----------------------+
|                  Mehr|
|                  Mish|
|                  Diwa|
|                  Kulk|
|                  Kapo|
+----------------------+

In [44]:
#Q7. Write q query to find all the employees whose salary is between 50000 to 100000.
spark.sql("select EmpID from E2 where E2.Salary BETWEEN 50000 AND 100000").show()

+-----+
|EmpID|
+-----+
|    2|
|    3|
|    2|
+-----+

In [50]:
# Q8. Write a query to find the names of employees that begin with ‘S’
spark.sql("select EmpFname from E1 where E1.EmpFname like 'S%'").show()

+--------+
|EmpFname|
+--------+
|  Sanjay|
|   Sonia|
+--------+

In [56]:
#Q9. Write a query to fetch top N records.
spark.sql("select * from E2 ORDER BY Salary LIMIT 3").show()

+-----+-----------+-------------+------+
|EmpID|EmpPosition|DateOfJoining|Salary|
+-----+-----------+-------------+------+
|    1|  Executive|     01/05/22|300000|
|    1|    Manager|     01/05/22|500000|
|    2|  Executive|     02/05/22| 75000|
+-----+-----------+-------------+------+

In [59]:
#Q10. Write a query to retrieve the EmpFname and EmpLname in a single column as “FullName”. The first name and the last name must be separated with space.
spark.sql("select concat(EmpFname,' ',EmpLname) from E1").show()

+-----------------------------+
|concat(EmpFname,  , EmpLname)|
+-----------------------------+
|                 Sanjay Mehra|
|                Ananya Mishra|
|                  Rohan Diwan|
|               Sonia Kulkarni|
|                 Ankit Kapoor|
+-----------------------------+

In [60]:
#Q11. Write a query find number of employees whose DOB is between 02/05/1970 to 31/12/1975 and are grouped according to gender

spark.sql("select count(*) from E1 where E1.DOB Between '02/05/1970' AND '31/12/1975'").show()

+--------+
|count(1)|
+--------+
|       3|
+--------+

In [65]:
#Q16. Write a query to fetch all employees who also hold the managerial position.
spark.sql("select E1.EmpID,E1.EmpFname,E2.EmpPosition from E1,E2 where E1.EmpID==E2.EmpID AND E2.EmpPosition='Manager'").show( )

+-----+--------+-----------+
|EmpID|EmpFname|EmpPosition|
+-----+--------+-----------+
|    1|  Sanjay|    Manager|
|    3|   Rohan|    Manager|
+-----+--------+-----------+

In [66]:
spark.sql("select * from E1,E2 where E1.EmpID==E2.EmpID AND E2.EmpPosition='Manager'").show( )

+-----+--------+--------+----------+-------+--------------+--------+------+-----+-----------+-------------+------+
|EmpID|EmpFname|EmpLname|Department|Project|       Address|     DOB|Gender|EmpID|EmpPosition|DateOfJoining|Salary|
+-----+--------+--------+----------+-------+--------------+--------+------+-----+-----------+-------------+------+
|    1|  Sanjay|   Mehra|        HR|     P1|Hyderabad(HYD)|01/12/76|     M|    1|    Manager|     01/05/22|500000|
|    3|   Rohan|   Diwan|   Account|     P3|   Mumbai(BOM)|01/01/80|     M|    3|    Manager|     01/05/22| 90000|
+-----+--------+--------+----------+-------+--------------+--------+------+-----+-----------+-------------+------+

In [137]:
#Q17. Write a query to fetch the department-wise count of employees sorted by department’s count in ascending order.
spark.sql("select Department, count(EmpID) as emp_count from E1 group by Department order by emp_count desc").show()

+----------+---------+
|Department|emp_count|
+----------+---------+
|     Admin|        2|
|        HR|        2|
|   Account|        1|
+----------+---------+

In [85]:
# Q18. Write a query to calculate the even and odd records from a table.
spark.sql("select EmpID from (select rowno, EmpID from E1) where MOD(rowno,2)=0").show()
spark.sql("select EmpID from (select rowno, EmpID from E1) where MOD(rowno,2)!=0").show()

AnalysisException: cannot resolve '`rowno`' given input columns: [e1.Address, e1.DOB, e1.Department, e1.EmpFname, e1.EmpID, e1.EmpLname, e1.Gender, e1.Project]; line 1 pos 26;
'Project ['EmpID]
+- 'Filter ('MOD('rowno, 2) = 0)
   +- 'SubqueryAlias __auto_generated_subquery_name
      +- 'Project ['rowno, EmpID#1545]
         +- SubqueryAlias e1
            +- Relation[EmpID#1545,EmpFname#1546,EmpLname#1547,Department#1548,Project#1549,Address#1550,DOB#1551,Gender#1552] csv

In [104]:
# Q19. Write a SQL query to retrieve employee details from EmployeeInfo table who have a date of joining in the EmployeePosition table.
spark.sql("select * from E1, E2 where E1.EmpID=E2.EmpID").show()

+-----+--------+--------+----------+-------+--------------+--------+------+-----+-----------+-------------+------+
|EmpID|EmpFname|EmpLname|Department|Project|       Address|     DOB|Gender|EmpID|EmpPosition|DateOfJoining|Salary|
+-----+--------+--------+----------+-------+--------------+--------+------+-----+-----------+-------------+------+
|    1|  Sanjay|   Mehra|        HR|     P1|Hyderabad(HYD)|01/12/76|     M|    1|  Executive|     01/05/22|300000|
|    1|  Sanjay|   Mehra|        HR|     P1|Hyderabad(HYD)|01/12/76|     M|    1|    Manager|     01/05/22|500000|
|    2|  Ananya|  Mishra|     Admin|     P2|    Delhi(DEL)|02/05/68|     F|    2|       Lead|     02/05/22| 85000|
|    2|  Ananya|  Mishra|     Admin|     P2|    Delhi(DEL)|02/05/68|     F|    2|  Executive|     02/05/22| 75000|
|    3|   Rohan|   Diwan|   Account|     P3|   Mumbai(BOM)|01/01/80|     M|    3|    Manager|     01/05/22| 90000|
+-----+--------+--------+----------+-------+--------------+--------+------+-----+-----------+-------------+------+

In [105]:
spark.sql("select * from E1 inner join E2 where E1.EmpID=E2.EmpID").show()

+-----+--------+--------+----------+-------+--------------+--------+------+-----+-----------+-------------+------+
|EmpID|EmpFname|EmpLname|Department|Project|       Address|     DOB|Gender|EmpID|EmpPosition|DateOfJoining|Salary|
+-----+--------+--------+----------+-------+--------------+--------+------+-----+-----------+-------------+------+
|    1|  Sanjay|   Mehra|        HR|     P1|Hyderabad(HYD)|01/12/76|     M|    1|  Executive|     01/05/22|300000|
|    1|  Sanjay|   Mehra|        HR|     P1|Hyderabad(HYD)|01/12/76|     M|    1|    Manager|     01/05/22|500000|
|    2|  Ananya|  Mishra|     Admin|     P2|    Delhi(DEL)|02/05/68|     F|    2|       Lead|     02/05/22| 85000|
|    2|  Ananya|  Mishra|     Admin|     P2|    Delhi(DEL)|02/05/68|     F|    2|  Executive|     02/05/22| 75000|
|    3|   Rohan|   Diwan|   Account|     P3|   Mumbai(BOM)|01/01/80|     M|    3|    Manager|     01/05/22| 90000|
+-----+--------+--------+----------+-------+--------------+--------+------+-----+-----------+-------------+------+

In [124]:
# Q20. Write a query to retrieve two minimum and maximum salaries from the EmployeePosition table.
#two minimum slaraies
spark.sql("select Salary from E2 order by Salary desc LIMIT 2").show()

+------+
|Salary|
+------+
| 90000|
| 85000|
+------+

In [125]:
#two max slaraies
spark.sql("select Salary from E2 order by Salary asc LIMIT 2").show()

+------+
|Salary|
+------+
|300000|
|500000|
+------+

In [ ]:
#Q21. Write a query to find the Nth highest salary from the table without using TOP/limit keyword. N=2
spark.sql("select max(Salary) from (select * from E2 order by Salary desc) where rowno<=N")

In [128]:
spark.sql("select Salary from (select Salary, dense_rank( ) over(order by Salary asc) r from E2) where r=2").show()

+------+
|Salary|
+------+
|500000|
+------+

22/10/30 23:53:57 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

In [ ]:
# select Salary from (Select Salary, dense_rank( ) over (order by Salary desc ) r from E2) where r=N

In [136]:
# Q22. Write a query to retrieve duplicate records from a table.
spark.sql("select EmpID, EmpFname, EmpLname, Department, count(*) as row_count from E1 group by EmpID, EmpFname, EmpLname, Department HAVING row_count >= 1").show()

+-----+--------+--------+----------+---------+
|EmpID|EmpFname|EmpLname|Department|row_count|
+-----+--------+--------+----------+---------+
|    3|   Rohan|   Diwan|   Account|        1|
|    5|   Ankit|  Kapoor|     Admin|        1|
|    1|  Sanjay|   Mehra|        HR|        1|
|    4|   Sonia|Kulkarni|        HR|        1|
|    2|  Ananya|  Mishra|     Admin|        1|
+-----+--------+--------+----------+---------+

In [147]:
# Write a query to fetch 50% records from the EmployeeInfo table.
spark.sql("select * from E1 where EmpID <=(select count(distinct(EmpID))/2 from E1)").show()

+-----+--------+--------+----------+-------+--------------+--------+------+
|EmpID|EmpFname|EmpLname|Department|Project|       Address|     DOB|Gender|
+-----+--------+--------+----------+-------+--------------+--------+------+
|    1|  Sanjay|   Mehra|        HR|     P1|Hyderabad(HYD)|01/12/76|     M|
|    2|  Ananya|  Mishra|     Admin|     P2|    Delhi(DEL)|02/05/68|     F|
+-----+--------+--------+----------+-------+--------------+--------+------+

In [133]:
# spark.stop()